body {
background: url("background-3.jpg");
background-position: center;
}

h1 {
font-family: Arial;
text-align: center;
font-size: 60px;
letter-spacing: 3px;
word-spacing: 9px;
animation: color-change 1s infinite;
}
@keyframes color-change {
0% { color: green; }
50% { color: blue; }
100% { color: green; }
}

p {
color: yellow;
text-indent: 50px;
text-align: justify;
font-size: 16;
}

h2 {
text-align: center;
color: Aqua;
font-size: 35px
text-decoration: underline;
}

table, th, td {
border: 2px solid black; 
text-align: center;
}
table {
background-color: #8cff66; 
width: 50%;}
th {color: blue; 
font-size: 20px;}
table.center {
margin-left: auto; 
margin-right: auto;
}

ol {
list-style-type: square;
border: 2px solid green;
}

li {
color: yellow;
font-size: 16;
}

ul {
float: left;
width: 100%;
padding: 0;
margin:0;
list-style: none;
}

li a {
display: block;
float: center;
text-align: center;
font-size: 40px;
width: 200px;
text-decoration: none;
color: Green;
background-color: Aqua;
padding: 60px 60px 60px;
margin: auto;
border: 1px solid navy;
border-radius: 25px;
box-shadow: 0px 2px 3px black;
}

li a:hover {
color: blue;
background: aqua;
border: 1px solid blue;
}

